---
http_interactions:
- request:
    method: get
    uri: https://sandbox.paymentsgateway.net/WS/Client.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Etag:
      - ! '"4281fa9bf8dece1:0"'
      Last-Modified:
      - Mon, 11 Nov 2013 16:10:59 GMT
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions name=\"ClientService\"
        targetNamespace=\"https://ws.paymentsgateway.net/v1\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\"
        xmlns:tns=\"https://ws.paymentsgateway.net/v1\" xmlns:wsa=\"http://schemas.xmlsoap.org/ws/2004/08/addressing\"
        xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" xmlns:wsap=\"http://schemas.xmlsoap.org/ws/2004/08/addressing/policy\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\"
        xmlns:wsaw=\"http://www.w3.org/2006/05/addressing/wsdl\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:wsa10=\"http://www.w3.org/2005/08/addressing\" xmlns:wsx=\"http://schemas.xmlsoap.org/ws/2004/09/mex\">\r\n\t<wsp:Policy
        wsu:Id=\"WSHttpBinding_IClientService_policy\">\r\n\t\t<wsp:ExactlyOne>\r\n\t\t\t<wsp:All>\r\n\t\t\t\t<sp:TransportBinding
        xmlns:sp=\"http://schemas.xmlsoap.org/ws/2005/07/securitypolicy\">\r\n\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t<sp:TransportToken>\r\n\t\t\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t\t\t<sp:HttpsToken
        RequireClientCertificate=\"false\"/>\r\n\t\t\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t\t\t</sp:TransportToken>\r\n\t\t\t\t\t\t<sp:AlgorithmSuite>\r\n\t\t\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t\t\t<sp:Basic256/>\r\n\t\t\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t\t\t</sp:AlgorithmSuite>\r\n\t\t\t\t\t\t<sp:Layout>\r\n\t\t\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t\t\t<sp:Strict/>\r\n\t\t\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t\t\t</sp:Layout>\r\n\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t</sp:TransportBinding>\r\n\t\t\t\t<wsaw:UsingAddressing/>\r\n\t\t\t</wsp:All>\r\n\t\t</wsp:ExactlyOne>\r\n\t</wsp:Policy>\r\n\t<wsp:Policy
        wsu:Id=\"BasicHttpBinding_IClientService_policy\">\r\n\t\t<wsp:ExactlyOne>\r\n\t\t\t<wsp:All>\r\n\t\t\t\t<sp:TransportBinding
        xmlns:sp=\"http://schemas.xmlsoap.org/ws/2005/07/securitypolicy\">\r\n\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t<sp:TransportToken>\r\n\t\t\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t\t\t<sp:HttpsToken
        RequireClientCertificate=\"false\"/>\r\n\t\t\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t\t\t</sp:TransportToken>\r\n\t\t\t\t\t\t<sp:AlgorithmSuite>\r\n\t\t\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t\t\t<sp:Basic256/>\r\n\t\t\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t\t\t</sp:AlgorithmSuite>\r\n\t\t\t\t\t\t<sp:Layout>\r\n\t\t\t\t\t\t\t<wsp:Policy>\r\n\t\t\t\t\t\t\t\t<sp:Strict/>\r\n\t\t\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t\t\t</sp:Layout>\r\n\t\t\t\t\t</wsp:Policy>\r\n\t\t\t\t</sp:TransportBinding>\r\n\t\t\t</wsp:All>\r\n\t\t</wsp:ExactlyOne>\r\n\t</wsp:Policy>\r\n\t<wsdl:types>\r\n\t\t<xsd:schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://ws.paymentsgateway.net/v1\">\r\n\t\t\t<xsd:element
        name=\"createClient\">\r\n\t\t\t\t<xsd:complexType>\r\n\t\t\t\t\t<xsd:sequence>\r\n\t\t\t\t\t\t<xsd:element
        name=\"ticket\" type=\"tns:Authentication\"/>\r\n\t\t\t\t\t\t<xsd:element
        name=\"client\" type=\"tns:ClientRecord\"/>\r\n\t\t\t\t\t</xsd:sequence>\r\n\t\t\t\t</xsd:complexType>\r\n\t\t\t</xsd:element>\r\n\t\t\t<xsd:complexType
        name=\"Authentication\">\r\n\t\t\t\t<xsd:sequence>\r\n\t\t\t\t\t<xsd:element
        name=\"APILoginID\" type=\"xsd:string\"/>\r\n\t\t\t\t\t<xsd:element name=\"TSHash\"
        type=\"xsd:string\"/>\r\n\t\t\t\t\t<xsd:element name=\"UTCTime\" type=\"xsd:string\"/>\r\n\t\t\t\t</xsd:sequence>\r\n\t\t\t</xsd:complexType>\r\n\t\t\t<xsd:element
        name=\"Authentication\" nillable=\"true\" type=\"tns:Authentication\"/>\r\n\t\t\t<xsd:complexType
        name=\"ClientRecord\">\r\n\t\t\t\t<xsd:sequence>\r\n\t\t\t\t\t<xsd:element
        name=\"MerchantID\" type=\"xsd:int\"/>\r\n\t\t\t\t\t<xsd:element name=\"ClientID\"
        type=\"xsd:int\"/>\r\n\t[...]
- request:
    method: post
    uri: https://sandbox.paymentsgateway.net/ws/Client.svc/basic
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ws.paymentsgateway.net/v1"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:createPaymentMethod><tns:ticket><tns:APILoginID>q71T4Wt6Dl</tns:APILoginID><tns:TSHash>c70669ec0f810cefe57a458985eb58ad</tns:TSHash><tns:UTCTime>635658922030297776</tns:UTCTime></tns:ticket><tns:payment><tns:MerchantID>174641</tns:MerchantID><tns:ClientID
        xsi:nil="true"/><tns:AcctHolderName>John Black</tns:AcctHolderName><tns:CcCardNumber>5555555555554444</tns:CcCardNumber><tns:CcExpirationDate>201609</tns:CcExpirationDate><tns:CcCardType>MAST</tns:CcCardType></tns:payment></tns:createPaymentMethod></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"https://ws.paymentsgateway.net/v1/IClientService/createPaymentMethod"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><s:Fault><faultcode>s:04292015011645</faultcode><faultstring
        xml:lang="en-US">The formatter threw an exception while trying to deserialize
        the message: There was an error while trying to deserialize parameter https://ws.paymentsgateway.net/v1:payment.
        The InnerException message was ''ValueType ''System.Int32'' cannot be null.''.  Please
        see InnerException for more details.</faultstring><detail><string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">The
        formatter threw an exception while trying to deserialize the message: There
        was an error while trying to deserialize parameter https://ws.paymentsgateway.net/v1:payment.
        The InnerException message was ''ValueType ''System.Int32'' cannot be null.''.  Please
        see InnerException for more details.</string></detail></s:Fault></s:Body></s:Envelope>'
  recorded_at: Wed, 29 Apr 2015 08:16:46 GMT
recorded_with: VCR 2.9.3
